page-about{

.about {
  background: src="src/assets/imgs/background.png";
}
  h3{
    background:#5515FE;
    font-size: 14px;
    color: white;
    width:90%;
    max-height: 50%;
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    overflow: scroll;
  }
  button {
    font-size: 16px;
    width: 100%;
    height: 14%;
    background-color: #4f05bd;
    color: white;
    border-radius: 50px;
    margin-top: 0;
    position: absolute;
    bottom: 1%;
    left: 0;
  }
  .scroll-bar-indicator {
    display: none;
  }
  .BS{
    bottom: 16%;
  }

}
