backstory{
  .backstory{
    background: white;
  }
  .scroll-content {
    display: flex;
    justify-content: center;
  }
  button {
    font-size: 20px;
    width: 100%;
    height: 14%;
    background-color: #4f05bd;
    color: white;
    border-radius: 50px;
    margin-top: 0;
    position: absolute;
    bottom: 1%;
    left: 0;
  }
  h1{
    position: absolute;
    top: 1%;
    left: 0;
    right: 0;
    margin: 0 auto;
    color:black;
    font-size: 18px;
    max-width: 40%;


  }
  .scroll-bar-indicator {
    display: none;
  }
  img {
    display: block;
    height: 83%;
    border: #4b2606;
    border-width: 10px;
    position: absolute;
    top: 1%;
    left: 0;
    right: 0;
    margin: 0 auto;
  }
  .next{
    width:20%;
    bottom: 25%;
    right: 0;
  }
    .banana {
      position: absolute;
      bottom: 14%;
      left: 0;
      right: 0;
      margin: 0 auto;
      height: 18%;
      animation: banana 5s infinite;
    }

    @keyframes banana {
      0% {top: 14%}
      50% {top: 16%}
      100% {top: 14%}
    }


  }

