page-results {

  .scroll-content {
    display: flex;
    justify-content: center;
  }

  h2 {
    font-size: 16px;
    color: white;
    position: absolute;
    bottom: 14%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }

  button {
    font-size: 20px;
    width: 100%;
    height: 14%;
    background-color: #4f05bd;
    color: white;
    border-radius: 50px;
    margin-top: 0;
    position: absolute;
    bottom: 1%;
    left: 0;
  }

  .grass {
    position: absolute;
    bottom: 0;
    height: 40%;
    width: 100%;
    left: 0;
  }

  .banana {
    position: absolute;
    top: 1%;
    // left: 20%;
    width: 60%;
    max-width: 200px;
    animation: banana_results 2s infinite;
  }

  @keyframes banana_results {
    0% {
      top: 1%
    }
    50% {
      top: 3%
    }
    100% {
      top: 1%
    }
  }

  .spotlight {
    position: relative;
    top: 15%;
    height: 32%;
  }

  .pedestal {
    position: absolute;
    bottom: 32%;
    height: 25%;
    width: 40%;
    left: 30%;
  }

  .fruit {
    position: absolute;
    bottom: 53%;
    width: 20%;
    max-width: 100px;
  }

  .banner{
    width: 95%;
    max-width: 600px;
    height: 7%;
    position: absolute;
    bottom: 68%;
    left: 2.5%;
    font-size: 100%;
  }

  .banner.orange {
    background: transparent url("../../assets/imgs/banner_orange.svg");
    background-size: 100% 100%;
    color: #d66500;
  }

  .banner.apple {
    background: transparent url("../../assets/imgs/banner_apple.svg");
    background-size: 100% 100%;
    color: #327c00;
  }

  .flagpole {
    width: 10px;
    height: 75%;
    background: #4b2606;
    position: absolute;
    bottom: 0;
  }

  .flagpole.orange {
    right: 5px;
  }

  .flagpole.apple {
    left: 5px;
  }

  .scroll-bar-indicator {
    display: none;
  }

}
