page-home {

  ion-title{
    text-align: center;
  }
  ion-item{
    text-align: center;
  }
  ion-label{
    text-align: center;
  }
  ion-input{
    text-align: center;
  }
  button {
    margin: 0 auto;
  }
}
